body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #c7d4c5;
    color: #333333;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    color: #456882;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0 20px 0;
    margin-bottom: 35px;

    border-bottom: 1px solid #667565;

    background-color: #c7d4c5;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #456882;
}

.resume-button {
    border: 1px solid #667565;
    padding: 8px 14px;
    border-radius: 4px;
}

.resume-button:hover {
    background-color: #333333;
    color: white;
}
