body {
    font-family: Georgia, "Times New Roman", serif
    background-color: #c7d4c5;
    color: #333333;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    color: #456882;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
