body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #c7d4c5;
    color: #333333;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    color: #456882;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    padding: 20px 0;
    border-bottom: 3px solid #aab8a8;

    background-color: #c7d4c5;
}

.nav-name {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-links a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #456882;
}

.resume-button {
    border: 1px solid #333333;
    padding: 9px 16px;
    border-radius: 6px;
}

.resume-button {
    color: #333333;
    text-decoration: none;
    border: 1px solid #6f7f6d;
    padding: 8px 15px;
    border-radius: 4px;
}
